.outlier {
    background-color: #f4f5f8;
    height: 100%;
}

.custom_login_container {
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.08);
    margin:-15px auto;
    padding-bottom:10px;
}

.margin_btn {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.remove_margin {
    margin-left: auto;
    margin-right: auto;
}